  <div class="container">

    <% @posts.in_groups_of(2, false) do |post_row| %>
      <div class="row">
        <% post_row.each do |post| %>
          <div class="col-md-6">
            <div class="well well-sm">
              <div class="row">
                <div class="col-xs-6 col-md-6 text-center" style= "height: 225px">
                  <%= link_to image_tag(post.image.url(:thumb), class: "christagram-upload img-rounded img-responsive"), post_path(post) %>
                </div>
                <div class="col-xs-6 col-md-6 section-box">
                  <h2><%= link_to post.title, post_path(post) %></h2>
                  <p class='desc'> <%= post.content %> </p>    
                  <p>
                    <% post.tags.each do |tag| %>
                    <%= link_to tag, tag_posts_path(tag) %>
                    <% end %>&nbsp;
                  </p>
                
                    <p> 
                      Created <%= time_ago_in_words post.created_at %> ago 
                    </p>
                  <hr />

                <!-- this is a all the code for the comment button on the posts page -->
        <% if post.user == current_user %>
        <button><%= link_to "del", post_path(post), :method => :delete, data: { confirm: 'Are you sure?' } %></button>
        <button><%= link_to "edit", edit_post_path(post) %></button>
        <% end %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Comment </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <div class="modal-title" id="myModalLabel">Comments

                  </div>


                  <div class="modal-body">
                      <% post.comments.each do|comment| %>
                      <%if comment.user%>
                        <strong><%= comment.user.email%></strong> said <br> <%= comment.body %> 
                        <p> 
                        <%end%>
                        <%= time_ago_in_words comment.created_at %> ago 
                        </p> 
                      <%end%>
                    </div>


                </div>
                <div class="modal-footer">
                <%= form_for([post, post.comments.build], :html => {:class => "form-horizontal"}) do |f| %>
                      
                        <p>
                        <div class="form-group">
                          <%= f.label :body, "Comment" %><br />
                          <%= f.text_area :body, :class => "form-control" %>
                        </p>
                        </div>
                        <p>
                          <%= f.submit %>
                        </p>
                      <% end %>
                </div>
    
              </div>
            </div>
          </div>



        
      
        
                  <div class="row rating-desc">
                    <div class="col-md-12">
            
                      <h3 class='likes_count' data-id='<%= post.id %>'><%= post.points %></h3>

                      <%= button_to 'Like', post_likes_path(post, up: true), remote: true, class: "btn btn-primary"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
    </div>
