<%= form_for @post, html: { multipart: true } do |form| %>

  <%= form.label :title %>  
  <%= form.text_field :title %> 
  <br>
  <%= form.label :content %>  
  <%= form.text_area :content %>   
  <br>
  <%= form.label :image %>  
  <%= form.file_field :image %> 
  <br>
  <%= form.label :tag_names, 'Tags' %>  
  <%= form.text_field :tag_names %>
  <br>
  <%= form.submit %>


<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
