<h3> <%= @post.title %> </h3>

<h1>Buy this print</h1>

<%= form_tag post_charges_path(@post) do %>

	<p>Buy this print for £10.00</p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_pk %>"
          data-description="Print of <%= @post.title %> "
          data-amount="1000"
          data-currency="GBP"></script>
<% end %>

         <% @post.comments.each do|comment| %>
            <%= comment.commenter %> said <%= comment.body %> <br>
            <%= time_ago_in_words comment.created_at %> ago
          <%end%>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>
